body {
   margin:auto;
   margin-top: 50px;
   width:1000px;
   background: #358597;
   color: white;
   border: 5px solid white;
   border-radius: 14px;
   font-family: 'Righteous', cursive;

}

header {
   display:flex;
   text-align: center;
}

h1 {
   margin: 50px 50px 50px 150px;
   border: 5px solid #f4a896;
   border-radius: 14px;
   padding: 25px;
}

h2 {
   margin-top:0;
   margin-left: 150px;
}

.week1 {
   display: flex;
   margin-left: 150px;
   margin-bottom: 50px;
}

.saturday {
   margin-left: 100px;
   }

a:link {
   color: white;
   background-color: transparent;
   text-decoration: none;
 }

a:visited {
   color:white;
   background-color: transparent;
   text-decoration: none;
 }

 a:hover {
   color:  #f4a896;
}


 a:active {
   color: silver;
   background-color: transparent;
   text-decoration: underline;
 }