.container {
  width:300px;
  display:flex;
  flex-direction:row;
  flex-wrap:wrap;
  justify-content:flex-end;
}

.green {
  width:150px;
  height:150px;
  background: #51d400;
}

.yellow {
  width:150px;
  height:150px;
  background-color: #ffd62a;
}

.purple {
  width:150px;
  height:150px;
  background-color: #b02afe;
}